<div class="container my-5">
    <h2 class="mb-4 text-primary text-center">Agregar destacamento</h2>
    <form class="row g-4 form-master" [formGroup]="formDestacamento">
  
      <!-- Texto -->
      <div class="col-md-6">
        <label for="inputText" class="form-label">Nombre Dest.</label>
        <input type="text" class="form-control" id="inputText" placeholder="Escribe algo..." formControlName="nombre">
      </div>

      <div class="col-md-6">
        <label for="inputText" class="form-label">Numero</label>
        <input type="text" class="form-control" id="inputText" placeholder="Escribe algo..." formControlName="numero">
      </div>
  
      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary px-4" (click)="AddDestacamento()">Guardar</button>
      </div>
    </form>
  </div>
